# Tips on working with JSON file format for tabular data analysis

Outline
* pandas json_normalize()
* ad hoc approach to generate a list of record tuples and a pandas dataframe

### Loading json data

In [1]:
import json

with open('mems.json') as f:
    nested = json.load(f)

In [2]:
nested

{'00001': {'memberid': '00001',
  'name': 'Alice',
  'claims': [{'claimnum': 1,
    'svcdt': '1/1/2020',
    'conditions': [{'1': 'diabetes', '2': 'COPD'}]},
   {'claimnum': 2,
    'svcdt': '2/15/2020',
    'conditions': [{'1': 'runny nose'}],
    'diags': [1, 2, 3]}],
  'labs': [{'svcdt': '1/1/2020', 'result': 5.5},
   {'svcdt': '2/15/2020', 'result': 4.2}]},
 '00002': {'memberid': '00002',
  'name': 'Bob',
  'claims': [{'claimnum': 1,
    'svcdt': '1/1/2019',
    'conditions': [{'1': 'diabetes', '2': 'COPD'}]},
   {'claimnum': 2,
    'svcdt': '2/15/2019',
    'conditions': [{'1': 'cough'}],
    'diags': [1, 2, 3]}],
  'labs': [{'svcdt': '1/1/2019', 'result': 1.2},
   {'svcdt': '2/15/2020', 'result': 3.3}]}}

### Pretty printing

In [3]:
from pprint import pprint
pprint(nested)

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

### Pandas json_normalize()

In [4]:
import pandas as pd
pd.set_option('max_colwidth', None)

pprint(nested)
df = pd.json_normalize(nested.values())
df

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

,memberid,name,claims,labs
0,00001,Alice,"[{'claimnum': 1, 'svcdt': '1/1/2020', 'conditions': [{'1': 'diabetes', '2': 'COPD'}]}, {'claimnum': 2, 'svcdt': '2/15/2020', 'conditions': [{'1': 'runny nose'}], 'diags': [1, 2, 3]}]","[{'svcdt': '1/1/2020', 'result': 5.5}, {'svcdt': '2/15/2020', 'result': 4.2}]"
1,00002,Bob,"[{'claimnum': 1, 'svcdt': '1/1/2019', 'conditions': [{'1': 'diabetes', '2': 'COPD'}]}, {'claimnum': 2, 'svcdt': '2/15/2019', 'conditions': [{'1': 'cough'}], 'diags': [1, 2, 3]}]","[{'svcdt': '1/1/2019', 'result': 1.2}, {'svcdt': '2/15/2020', 'result': 3.3}]"

Additional parameters

```python 
# trying running help command
help(pd.json_normalize)
```

In [5]:
pprint(nested)
df = pd.json_normalize(nested.values(), record_path=['claims'], meta=['memberid', 'name'])
df

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

,claimnum,svcdt,conditions,diags,memberid,name
0,1,1/1/2020,"[{'1': 'diabetes', '2': 'COPD'}]",NaN,00001,Alice
1,2,2/15/2020,[{'1': 'runny nose'}],"[1, 2, 3]",00001,Alice
2,1,1/1/2019,"[{'1': 'diabetes', '2': 'COPD'}]",NaN,00002,Bob
3,2,2/15/2019,[{'1': 'cough'}],"[1, 2, 3]",00002,Bob

In [6]:
pprint(nested)
df = pd.json_normalize(nested.values(), record_path=['claims', 'conditions'], meta=['memberid', 'name'])
df

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

            1     2 memberid   name
0    diabetes  COPD    00001  Alice
1  runny nose   NaN    00001  Alice
2    diabetes  COPD    00002    Bob
3       cough   NaN    00002    Bob

In [7]:
pprint(nested)
df = pd.json_normalize(nested.values(), record_path='labs', meta=['memberid', 'name'])
df

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

       svcdt  result memberid   name
0   1/1/2020     5.5    00001  Alice
1  2/15/2020     4.2    00001  Alice
2   1/1/2019     1.2    00002    Bob
3  2/15/2020     3.3    00002    Bob

### Ad Hoc Approach

Generate a list of tuples and where each tuple represents a record.
From there, you can transform to a pandas dataframe, CSV, etc.

In [8]:
pprint(nested)

{'00001': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2020'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'runny nose'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2020'}],
           'labs': [{'result': 5.5, 'svcdt': '1/1/2020'},
                    {'result': 4.2, 'svcdt': '2/15/2020'}],
           'memberid': '00001',
           'name': 'Alice'},
 '00002': {'claims': [{'claimnum': 1,
                       'conditions': [{'1': 'diabetes', '2': 'COPD'}],
                       'svcdt': '1/1/2019'},
                      {'claimnum': 2,
                       'conditions': [{'1': 'cough'}],
                       'diags': [1, 2, 3],
                       'svcdt': '2/15/2019'}],
           'labs': [{'result': 1.2, 'svcdt': '1/1/2019'},
                    {'result': 3.3, 'svcdt': '2/15/2020'}],
           'memberid': '00002',
           'name': 'Bob'}}

In [9]:
data = []
for memberid in nested:
    claims = nested[memberid]['claims']
    for claim in claims:
        claimnum = claim['claimnum']
        svcdt = claim['svcdt']
        diags = str(claim.get('diags', None))
        
        record = memberid, claimnum, svcdt, diags
        data.append(record)

In [10]:
data

[('00001', 1, '1/1/2020', 'None'),
 ('00001', 2, '2/15/2020', '[1, 2, 3]'),
 ('00002', 1, '1/1/2019', 'None'),
 ('00002', 2, '2/15/2019', '[1, 2, 3]')]

In [11]:
df = pd.DataFrame(data, columns=['memberid', 'claimnum', 'svcdt', 'diag_list'])
df

  memberid  claimnum      svcdt  diag_list
0    00001         1   1/1/2020       None
1    00001         2  2/15/2020  [1, 2, 3]
2    00002         1   1/1/2019       None
3    00002         2  2/15/2019  [1, 2, 3]

# Exercise

Analyze your own Facebook data including likes, comments, location data, and offsite activity.

If you have a Facebook account, download your FB data sets in a JSON file format. For your privacy, please be very careful with storing or transferring this data set. I suggest trying this on a secure personal machine. 

See instructions in section: "Accessing & Downloading Your Information", "To download a copy of your Facebook data"
URL: https://www.facebook.com/help/1701730696756992